In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1, 2, 3,'kimi', 0, np.nan, -1])

0       1
1       2
2       3
3    kimi
4       0
5     NaN
6      -1
dtype: object

In [3]:
dates = pd.date_range("20250101", periods=6)
print(dates)

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
#randn --> normal distribution
#index --> line name
#column
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A', 'B', 'C', 'D'])
print(df)

                   A         B         C         D
2025-01-01 -1.385357 -0.011875 -0.230933 -1.526448
2025-01-02 -1.624783  0.632138 -1.312324 -0.735111
2025-01-03  0.012568  0.146525  0.035249 -3.026145
2025-01-04  1.892695  0.589184  1.237690 -0.035470
2025-01-05  0.818623 -0.301435 -1.591750 -0.193322
2025-01-06  0.618363 -0.554409  0.706567  0.873465

In [5]:
df['A']

2025-01-01   -1.385357
2025-01-02   -1.624783
2025-01-03    0.012568
2025-01-04    1.892695
2025-01-05    0.818623
2025-01-06    0.618363
Freq: D, Name: A, dtype: float64

In [6]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.055352  0.083355 -0.192583 -0.773838
std    1.354675  0.474319  1.106256  1.359161
min   -1.624783 -0.554409 -1.591750 -3.026145
25%   -1.035876 -0.229045 -1.041976 -1.328613
50%    0.315466  0.067325 -0.097842 -0.464216
75%    0.768558  0.478519  0.538737 -0.074933
max    1.892695  0.632138  1.237690  0.873465

In [7]:
df['A'].mean()

np.float64(0.05535164211533548)

In [8]:
df.sort_values(by='B')

                   A         B         C         D
2025-01-06  0.618363 -0.554409  0.706567  0.873465
2025-01-05  0.818623 -0.301435 -1.591750 -0.193322
2025-01-01 -1.385357 -0.011875 -0.230933 -1.526448
2025-01-03  0.012568  0.146525  0.035249 -3.026145
2025-01-04  1.892695  0.589184  1.237690 -0.035470
2025-01-02 -1.624783  0.632138 -1.312324 -0.735111

In [9]:
df.to_excel("./df.xlsx", index=False)

In [10]:
print(df.loc['2025-01-01'])

A   -1.385357
B   -0.011875
C   -0.230933
D   -1.526448
Name: 2025-01-01 00:00:00, dtype: float64